.inlineStatusOutput {
	display: inline-block;
	border: 1px solid #c3c4c7;
	background: #fff;
	padding: 2px 4px;
	font-family: monospace;
}

.button-delete {
	border-color: #b32d2e !important;
	color: #b32d2e !important;
}