.serp {

	display: flex;
	flex-direction: column;
	margin-left: 28px;
	max-width: 600px;
	font-family: arial, sans-serif;

	.serp_title {
		display: inline-block;
		margin: 0;
		margin-top: 18px;
		margin-bottom: 3px;
		padding: 0;
		padding-top: 5px;
		text-align: start;
		text-decoration: none;
		line-height: 1.3;
		color: #1a0dab;
		font-size: 20px;
		font-weight: 400;
	}

	.serp_description {
		display: block;
		flex: 1 1 100%;
		min-width: 0;
		text-align: start;
		line-height: 1.58;
		color: #4d5156;
		font-size: 14px;
		font-weight: normal;
	}
}