.robotsTxtViewer {
	--darkFrameColour: var(--wp-admin-theme-color-darker-20);
	width: 100%;
	border: solid 2px var(--darkFrameColour);
	border-radius: 3px;
	background: #fff;

	&_title {
		background: var(--darkFrameColour);
		padding: 5px;

		h2 {
			color: #fff;
			margin: 2px 0;
		}
	}

	&_controls {
		padding: 5px;
	}

	.robotsTxt {
		display: block; // Remove the margin below textarea.
		margin: 0;
		border: none;
		border-radius: 0;
		padding: 10px 5px;
		width: 100%;
		height: auto;
	}
}
